@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo2-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  letter-spacing: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}